{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock title %}
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@400;500;600;700&display=swap" rel="stylesheet">

    {% block css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock css %}

    {% block icons %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% endblock icons %}

</head>

<body>
    <div class="main-container">
        <div class="navbar-container">
            <header>
                <nav>
                    <ul class="navbar">
                        <li class="category-item"><a href="" class="list">Shop By Category</a></li>
                        <li class="category-item2"><a href="" class="list">Shop By Collection</a></li>
                        <li><a href="" class="list">Sale</a></li>
                        <li class="category-item3"><a href="" class="list">Policy</a></li>
                        <li><a href="" class="list">Fit Guide</a></li>
                    </ul>
                </nav>
            </header>
            <div class="hover-box">
        <div class="cloth-box">
            <div class="cloth-box-content">

                <div class="tshirtbox">
                    <header>
                        <nav>
                            <ul class="tshirt-list">
                                <li><a href="" class="cloth-title">T-SHIRT</a></li>
                                <li><a class="tshirtcategory" href="">New Arrival</a></li>
                                <li><a class="tshirtcategory" href="">Relaxed Fit</a></li>
                                <li><a class="tshirtcategory" href="">Oversized Fit</a></li>
                                <li><a class="tshirtcategory" href="">Super Essential</a></li>
                                <li><a class="tshirtcategory" href="">Sleeveless T-shirt</a></li>
                            </ul>
                        </nav>
                    </header>
                </div>

                <div class="shirtbox">
                    <header>
                        <nav>
                            <ul class="shirt-list">
                                <li><a href="" class="cloth-title">SHIRTS</a></li>
                                <li><a class="tshirtcategory" href="">New Arrival</a></li>
                                <li><a class="tshirtcategory" href="">Half Sleeveless T-shirt</a></li>
                                <li><a class="tshirtcategory" href="">Full Sleeveless Shirt</a></li>
                                <!-- <li><a class="tshirtcategory" href="">Shaket Shirt</a></li> -->
                            </ul>
                        </nav>
                    </header>
                </div>

                <div class="bottomwearbox">
                    <header>
                        <nav>
                            <ul class="bottomwear-list">
                                <li><a href="" class="cloth-title">BOTTOMWEAR</a></li>
                                <li><a class="tshirtcategory" href="">Joggers</a></li>
                                <li><a class="tshirtcategory" href="">Cargo</a></li>
                                <li><a class="tshirtcategory" href="">Shorts</a></li>
                            </ul>
                        </nav>
                    </header>
                </div>

                <div class="winterwearbox">
                    <header>
                        <nav>
                            <ul class="winterwear-list">
                                <li><a href="" id="winterwear-cloth-title">WINTER WEAR</a></li>
                                <li><a class="tshirtcategory" href="">Leather Jacket</a></li>
                                <li><a class="tshirtcategory" href="">Jacket</a></li>
                                <li><a class="tshirtcategory" href="">Sweatshirt</a></li>
                                <li><a class="tshirtcategory" href="">Hoodies</a></li>
                                <li><a class="tshirtcategory" href="">Shaket Shirt</a></li>
                                <li><a class="tshirtcategory" href="">Long Coat</a></li>
                            </ul>
                        </nav>
                    </header>
                </div>
            </div>

            <div>
                <header>
                    <nav>
                        <ul class="other-list">
                            <li><a class="other-list-items" href="">LUXE</a></li>
                            <li><a class="other-list-items" href="">POLO</a></li>
                            <li><a class="other-list-items" href="">SALE</a></li>
                            <li><a class="other-list-items" href="">SOCKS</a></li>
                        </ul>
                    </nav>
                </header>
            </div>
        </div>
        <div class="cloth-box-2">
            <div class="price-box"><img src="{% static 'images/img1.jpg' %}" class="img1" 
                    alt=""><br>
                <span><a href="" class="img1-content">The Creator Oversized T-shirt</a></span><br>
                <del class="img1-pricecut">₹1,999.00</del>&nbsp;&nbsp;<span class="img1-content">₹1,599.00</span>
            </div>
            <div class="price-box"><img src="{% static 'images/img2.jpg' %}" class="img2"  alt=""><br>
                <span><a href="" class="img2-content">The Creator Oversized T-shirt</a></span><br>
                <del class="img2-pricecut">₹1,999.00</del>&nbsp;&nbsp;<span class="img2-content">₹1,599.00</span>
            </div>
        </div>
    </div>

    <div class="hover-box2">
        <div class="row1">
            <header>
                <nav>
                    <ul class="row1-list">
                        <li><a href="" class="drift">DRIFT JOGGERS COLLECTION</a></li>
                        <li><a href="" class="claw">THE ARTIC CLAW COLLECTION</a></li>
                        <li><a href="" class="wild">WILD ROUGE</a></li>
                        <li><a href="" class="root">URBAN ROOTS SHIRTS</a></li>
                        <li><a href="" class="spring">SUMMER SPRING'25</a></li>
                        <li><a href="" class="ember">EMBER STEEL WINTER'24</a></li>
                    </ul>
                </nav>
            </header>
        </div>


        <div class="row2">
            <header>
                <nav>
                    <ul class="row2-list">
                        <li><a href="" class="majestic">MAJESTIC PRE FALL 2023</a></li>
                        <span class="conqueor"><li><a href="" class="conqueror">THE CONQUEROR AUTUMN <br>
                            WINTER 2023</a>
                        </li></span>
                        <li><a href="" class="summer">SUMMER SPRING 2024</a></li>
                        <li><a href="" class="knit">KNIT WEAR COLLECTION</a></li>
                        <li><a href="" class="distressed">DISTRESSED COLLECTION</a></li>
                        <li><a href="" class="untamed">UNTAMED WILD</a></li>
                    </ul>
                </nav>
            </header>
        </div>


        <div>
            <header>
                <nav>
                    <ul class="row3-list">
                        <li><a href="" class="re">RE ENGINEERED</a></li>
                    </ul>
                </nav>
            </header>
        </div>
    </div>
    

    <div class="hover-box3">
        <header>
            <nav>
                <ul class="hover-box3list">
                    <li><a href="" class="re">RETURN ORDER</a></li>
                    <li><a href="" class="re">PRIVACY POLICY</a></li>
                    <li><a href="" class="re">REFUND POLICY</a></li>
                    <li><a href="" class="re">SHIPPING POLICY</a></li>
                </ul>
            </nav>
        </header>
    </div>
        </div>
        <div class="nav-logo">
            <img src="{% static 'images/logo4.jpg' %}" class="logo" alt="logo">
        </div>
        <div class="icon-box">
            <div><img class="icon" src="{% static 'images/SearchIconLogoImage.png' %}" alt="search-icon"></div>
            <div><img class="icon" src="{% static 'images/UserLogoImage.png' %}" alt="profile-icon"></div>
            <div><img class="icon" src="{% static 'images/BagLogoImage.png' %}" alt="bag-logo"></div>
        </div>
    </div>
    <!-- Search Box -->
    <div class="search-box">
        <div class="search-box2">
            <i class="fa-solid fa-magnifying-glass" id="search-icon" style="color: rgb(74, 77, 83);"></i><input type="search" name="" class="search-holder" placeholder="Search" id=""><hr class="hr">
        </div>
        <div class="srch-products">Products</div>
        <div class="card-holder">
            <div class="product-box">
                <div class="product-card"><img src="{% static 'images/img4.jpg' %}" class="product-img1" alt=""><br><span class="product-name">Marine drift Distressed hoddie</span><br>
                <del class="product-cardcutprice">₹3,799.00</del>&nbsp;<span class="product-cardnewprice">₹2,499.00</span>
                </div>
            </div>
            <div class="product-box">
            <div class="product-card2"><img src="{% static 'images/img3.jpg' %}" class="product-img2" alt=""><br><span class="product-name">Cherry Drift faux Leather Jacket</span><br>
                <del class="product-cardcutprice">₹4,999.00</del>&nbsp;<span class="product-cardnewprice">₹2,199.00</span>
            </div>
            </div>
            <div class="product-box">
            <div class="product-card3"><img src="{% static 'images/img5.jpg' %}" class="product-img3" alt=""><br><span class="product-name">Hazel miler Brown Textured</span><br>
                <del class="product-cardcutprice">₹4,999.00</del>&nbsp;<span class="product-cardnewprice">₹2,199.00</span>
            </div>
            </div>
            <div class="product-box">
            <div class="product-card4"><img src="{% static 'images/img6.jpg' %}" class="product-img4" alt=""><br><span class="product-name">TAN MILER FAUX LEATHER JACKET</span><br>
                <del class="product-cardcutprice">₹4,999.00</del>&nbsp;<span class="product-cardnewprice">₹2,199.00</span>
            </div>
            </div>
        </div>
    </div>
    <!-- Account Box -->
     <br>
     <div class="account-box">
        <br>
        <span class="account-name">Account</span>
        <br>
        <!-- <br> -->
        <div class="shop-signupbox">
            <a href="" class="shop-signup">Sign in with shop</a>
        </div>
        <br>
        <div class="other-signupbox">
            <a href="" class="other-signup">Other sign in options</a>
        </div>
        <br>
        <div class="account-lastbox">
            <div class="account-order-box"><img src="{% static 'images/orderboxlogo.png' %}" class="order-logo" alt="">&nbsp;<span class="account-orders">Orders</span></div>
            <div class="account-order-box"><img src="{% static 'images/UserLogoImage.png' %}" class="profile-logo" alt="">&nbsp;<span class="account-profile">Profile</span></div>
        </div>
     </div>

    <!-- Cart Box  -->

    <div class="cartmain-box">
        <i class="fa-solid fa-xmark fa-2xs" id="cartcross-mark" style="color: rgb(74, 77, 83);"></i>
        <div class="empty-cart">Your cart is empty</div>
        <br>
        <div class="secondcart-box">
            <br>
            <span class="cartbox-login">Have an account? <a href="" class="cartbox-mainlogin">Log in</a>&nbsp; to check out faster</span>
            <br>
            <button type="submit" class="cartbox-shoppingbutton">Continue shopping</button>
        </div>
    </div>

    <!-- Train Offer -->
    <div class="offer-bar">
        <div class="offer-track">
            <div class="offer-content">
                <span>Get Flat ₹100 OFF on ₹999+ orders | INSTANT100</span>
                <span class="offer-dot">.</span>
                <span>1,50,000+ Happy Customers</span>
                <span class="offer-dot">.</span>
            </div>

        <!-- duplicate same content -->
            <div class="offer-content">
                <span>Get Flat ₹100 OFF on ₹999+ orders | INSTANT100</span>
                <span class="offer-dot">.</span>
                <span>1,50,000+ Happy Customers</span>
                <span class="offer-dot">.</span>
            </div>

        <!-- duplicate same content 2 -->
            <div class="offer-content">
                <span>Get Flat ₹100 OFF on ₹999+ orders | INSTANT100</span>
                <span class="offer-dot">.</span>
                <span>1,50,000+ Happy Customers</span>
                <span class="offer-dot">.</span>
            </div>
        </div>
    </div>

    <!-- Footer Begins -->
    
    <!-- Javascript link -->
    {% block js %}
    <script src="{% static 'js/base.js' %}"></script>
    {% endblock js %}
</body>
</html>

