{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock title %}

    {% block css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock css %}

    {% block icons %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% endblock icons %}

</head>

<body>
    <div class="main-container">
        <div class="navbar-container">
            <header>
                <nav>
                    <ul class="navbar">
                        <li><a href="" class="list">Shop By Category</a></li>
                        <li><a href="" class="list">Shop By Collection</a></li>
                        <li><a href="" class="list">Sale</a></li>
                        <li><a href="" class="list">Policy</a></li>
                        <li><a href="" class="list">Fit Guide</a></li>
                    </ul>
                </nav>
            </header>
        </div>
        <div class="nav-logo">
            <img src="{% static 'images/logo4.jpg' %}" class="logo" alt="logo">
        </div>
        <div class="icon-box">
            <div><i class="fa-solid fa-magnifying-glass"></i></div>
            <div><i class="fa-regular fa-user" style="color: rgb(15, 14, 14);"></i></div>
            <div><i class="fa-solid fa-bag-shopping" style="color: rgb(15, 14, 14);"></i></div>
        </div>
    </div>
</body>

</html>