{% extends "base.html" %} 

{% load static %} 

{% block css %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock css %}

{% block content %}
<!-- Round_cloth-box -->
<br>
<div class="maincloth-box">
    <div class="tshirt-box">
        <div class="round-image-box">
            <img src="{% static 'images/oversizedT-shirt.jpg' %}" class="round-photos" height="50px" width="50px" alt="">
            <span class="oversizedtshirt-content">Oversized T-shirt</span>
        </div>
        <div class="round-image-box">
            <img src="{% static 'images/sleeveless.jpg' %}" class="round-photos" height="50px" width="50px" alt="">
            <span class="oversizedtshirt-content">Sleeveless</span>
        </div>
        <div class="round-image-box">
            <img src="{% static 'images/relaxedT-shirts.jpg' %}" class="round-photos" height="50px" width="50px" alt="">
            <span class="oversizedtshirt-content">Relaxed T-shirts</span>
        </div>
    </div>
    <div class="pants-box">
        <div class="round-image-box2">
            <img src="{% static 'images/joggers.jpg' %}" class="round-photos" height="50px" width="50px" alt="">
            <span class="oversizedtshirt-content">Joggers</span>
        </div>
        <div class="round-image-box2">
            <img src="{% static 'images/jacket.jpg' %}" class="round-photos" height="50px" width="50px" alt="">
            <span class="oversizedtshirt-content">Jacket</span>
        </div>
        <div class="round-image-box2">
            <img src="{% static 'images/hoodies.jpg' %}" class="round-photos" height="50px" width="50px" alt="">
            <span class="oversizedtshirt-content">Hoodies</span>
        </div>
    </div>
</div>

<div class="movement-box">
  <div id="wavesCarousel" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">

      <div class="carousel-item active" data-bs-interval="2000">
        <img src="{% static 'images/waves.png' %}" class="d-block w-100" height="465px">
      </div>

      <div class="carousel-item" data-bs-interval="2000">
        <img src="{% static 'images/rebellion.png' %}" class="d-block w-100" height="465px">
      </div>

    </div>

  </div>
</div>

<!-- User Visit Box -->
<div class="uservisit-box">
    <div class="user-visit">
        <img src="{% static 'images/customers.jpg' %}" height="32px" class="customers-photo" width="32px" alt="">
        <p class="customer-content">1,50,000+ <br> Satisfied Customers </p>
    </div>
    <div class="user-visit">
        <img src="{% static 'images/location.jpg' %}" height="32px" class="customers-photo" width="32px" alt="">
        <p class="customer-content">9,820+ <br> Pincodes Reached </p>
    </div>
    <div class="user-visit">
        <img src="{% static 'images/truck.jpg' %}" height="32px" class="customers-photo" width="32px" alt="">
        <p class="customer-content">Ships within <br> 12 Hours </p>
    </div>
</div> 

<br>
<br>
<div class="train-wrapper">
<div class="summer-escapeboxholder">
    <div class="summer-escapebox">
        <img src="{% static 'images/summer_escape.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/concert-ready.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/the-perfect-date.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/cafe_hopping.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/summer_escape.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/concert-ready.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/the-perfect-date.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/cafe_hopping.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
</div>
</div>

<br>
<h2 class="new-launch">NEW LAUNCH 🚀</h2>

<br>
<div class="newlaunch-itemsbox">
    <div class="newlaunch-items">
        <img src="{% static 'images/greyblazzing-oversizetshirt.png' %}" width="376.300px" height="566.850px" alt="">
        <span class="greytshirt-title">Grey Blazing Hawk Oversized T-shirt</span>
        <div><span class="prizes"> <span class="price">₹ 1,599.00</span>&nbsp;<del class="cut-price">₹ 1,999.00</del> </span></div>
        <div class="product-variants">
            <a href="" class="variant-size"> <span class="sizes">XS</span> </a>
            <a href="" class="variant-size"> <span class="sizes">S</span> </a>
            <a href="" class="variant-size"> <span class="sizes">M</span> </a>
            <a href="" class="variant-size"> <span class="sizes">L</span> </a>
            <a href="" class="variant-size"> <span class="sizes">XL</span> </a>
            <a href="" class="variant-size"> <span class="sizes">XXL</span> </a>
        </div>
    </div>
    <div class="newlaunch-items">
        <img src="{% static 'images/streakblack-oversizedtshirt.png' %}" width="376.300px" height="566.85px" alt="">
        <span class="greytshirt-title">Streak Black Oversized T-shirt</span>
        <div><span class="prizes"> <span class="price">₹ 1,599.00</span>&nbsp;<del class="cut-price">₹ 1,999.00</del> </span></div>
        <div class="product-variants">
            <a href="" class="variant-size"> <span class="sizes">XS</span> </a>
            <a href="" class="variant-size"> <span class="sizes">S</span> </a>
            <a href="" class="variant-size"> <span class="sizes">M</span> </a>
            <a href="" class="variant-size"> <span class="sizes">L</span> </a>
            <a href="" class="variant-size"> <span class="sizes">XL</span> </a>
            <a href="" class="variant-size"> <span class="sizes">XXL</span> </a>
        </div>
    </div>
    <div class="newlaunch-items">
        <img src="{% static 'images/carpedianblack-oversizedtshirt.png' %}" width="376.300px" height="566.85px" alt="">
        <span class="greytshirt-title">Carpedian Black Oversized T-shirt</span>
        <div><span class="prizes"> <span class="price">₹ 1,599.00</span>&nbsp;<del class="cut-price">₹ 1,999.00</del> </span></div>
        <div class="product-variants">
            <a href="" class="variant-size"> <span class="sizes">XS</span> </a>
            <a href="" class="variant-size"> <span class="sizes">S</span> </a>
            <a href="" class="variant-size"> <span class="sizes">M</span> </a>
            <a href="" class="variant-size"> <span class="sizes">L</span> </a>
            <a href="" class="variant-size"> <span class="sizes">XL</span> </a>
            <a href="" class="variant-size"> <span class="sizes">XXL</span> </a>
        </div>
    </div>
    <div class="newlaunch-items">
        <img src="{% static 'images/liberationrelax-fittshirt.png' %}" width="376.300px" height="566.85px" alt="">
        <span class="greytshirt-title">Liberatin Relaxed Fit T-shirt</span>
        <div><span class="prizes"> <span class="price">₹ 1,599.00</span>&nbsp;<del class="cut-price">₹ 1,999.00</del> </span></div>
        <div class="product-variants">
            <a href="" class="variant-size"> <span class="sizes">XS</span> </a>
            <a href="" class="variant-size"> <span class="sizes">S</span> </a>
            <a href="" class="variant-size"> <span class="sizes">M</span> </a>
            <a href="" class="variant-size"> <span class="sizes">L</span> </a>
            <a href="" class="variant-size"> <span class="sizes">XL</span> </a>
            <a href="" class="variant-size"> <span class="sizes">XXL</span> </a>
        </div>
    </div>
</div>

<br>
<div class="newlaunch-itemsbox">
    <div class="newlaunch-items">
        <img src="{% static 'images/cloudenine-fittshirt.png' %}" width="376.300px" height="566.850px" alt="">
        <span class="greytshirt-title">Cloud Nine Relaxed Fit T-shirt</span>
        <div><span class="prizes"> <span class="price">₹ 1,599.00</span>&nbsp;<del class="cut-price">₹ 1,999.00</del> </span></div>
        <div class="product-variants">
            <a href="" class="variant-size"> <span class="sizes">XS</span> </a>
            <a href="" class="variant-size"> <span class="sizes">S</span> </a>
            <a href="" class="variant-size"> <span class="sizes">M</span> </a>
            <a href="" class="variant-size"> <span class="sizes">L</span> </a>
            <a href="" class="variant-size"> <span class="sizes">XL</span> </a>
            <a href="" class="variant-size"> <span class="sizes">XXL</span> </a>
        </div>
    </div>
    <div class="newlaunch-items">
        <img src="{% static 'images/sunflower-fittshirt.png' %}" width="376.300px" height="566.850px" alt="">
        <span class="greytshirt-title">Sunflower Relaxed Fit T-shirt</span>
        <div><span class="prizes"> <span class="price">₹ 1,599.00</span>&nbsp;<del class="cut-price">₹ 1,999.00</del> </span></div>
        <div class="product-variants">
            <a href="" class="variant-size"> <span class="sizes">XS</span> </a>
            <a href="" class="variant-size"> <span class="sizes">S</span> </a>
            <a href="" class="variant-size"> <span class="sizes">M</span> </a>
            <a href="" class="variant-size"> <span class="sizes">L</span> </a>
            <a href="" class="variant-size"> <span class="sizes">XL</span> </a>
            <a href="" class="variant-size"> <span class="sizes">XXL</span> </a>
        </div>
    </div>
    <a href="{% url 'otc' %}" class="ots-link"><div class="newlaunch-items">
        <img src="{% static 'images/creator-oversizetshirt2.png' %}" width="376.300px" height="566.850px" alt="">
        <span class="greytshirt-title">The Creator Oversized T-shirt</span>
        <div><span class="prizes"> <span class="price">₹ 1,599.00</span>&nbsp;<del class="cut-price">₹ 1,999.00</del> </span></div>
        <div class="product-variants">
            <a href="" class="variant-size"> <span class="sizes">XS</span> </a>
            <a href="" class="variant-size"> <span class="sizes">S</span> </a>
            <a href="" class="variant-size"> <span class="sizes">M</span> </a>
            <a href="" class="variant-size"> <span class="sizes">L</span> </a>
            <a href="" class="variant-size"> <span class="sizes">XL</span> </a>
            <a href="" class="variant-size"> <span class="sizes">XXL</span> </a>
        </div>
    </div></a>
    <div class="newlaunch-items">
        <img src="{% static 'images/wildspiri-fittshirt.png' %}" width="376.300px" height="566.850px" alt="">
        <span class="greytshirt-title">Wild Spirit white Relaxed Fit T-shirt</span>
        <div><span class="prizes"> <span class="price">₹ 1,599.00</span>&nbsp;<del class="cut-price">₹ 1,999.00</del> </span></div>
        <div class="product-variants">
            <a href="" class="variant-size"> <span class="sizes">XS</span> </a>
            <a href="" class="variant-size"> <span class="sizes">S</span> </a>
            <a href="" class="variant-size"> <span class="sizes">M</span> </a>
            <a href="" class="variant-size"> <span class="sizes">L</span> </a>
            <a href="" class="variant-size"> <span class="sizes">XL</span> </a>
            <a href="" class="variant-size"> <span class="sizes">XXL</span> </a>
        </div>
    </div>
</div>

<div class="shopnow-buttonbox">
    <a href="" class="shopnow-button">Shop now</a>
</div>

<br>
<div class="continue-videobox">
    <video src="{% static 'videos/continuevideo.mp4' %}" autoplay muted loop class="continue-video"></video>
</div>

<h2 class="shopbycollection-title">SHOP BY COLLECTION</h2>

<br>
<div class="collection-box">
    <a href="">
        <img src="{% static 'images/stealdeal.png' %}" height="630.650px" width="503px" alt="">
    </a>
    <a href="">
        <img src="{% static 'images/relaxedfit.png' %}" height="630.650px" width="503px" alt="">
    </a>
    <a href="">
        <img src="{% static 'images/oversizedtshirts.png' %}" height="630.650px" width="503px" alt="">
    </a>
</div>

<div class="extraspace">  </div>

<div class="collection-box">
    <a href="">
        <img src="{% static 'images/joggers.png' %}" height="630.650px" width="503px" alt="">
    </a>
    <a href="">
        <img src="{% static 'images/sleeveless.png' %}" height="630.650px" width="503px" alt="">
    </a>
    <a href="">
        <img src="{% static 'images/jacket.png' %}" height="630.650px" width="503px" alt="">
    </a>
</div>

<div class="extraspace">  </div>

<div class="collection-box">
    <a href="">
        <img src="{% static 'images/hoodies.png' %}" height="630.650px" width="503px" alt="">
    </a>
    <a href="">
        <img src="{% static 'images/shirts.png' %}" height="630.650px" width="503px" alt="">
    </a>
    <a href="">
        <img src="{% static 'images/poloshirts.png' %}" height="630.650px" width="503px" alt="">
    </a>
</div>

<div class="extraspace">  </div>
<br>
<div class="train-wrapper">
<div class="summer-escapeboxholder">
    <div class="summer-escapebox">
        <img src="{% static 'images/techburner-favouirate.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/kumudfavrate.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/pranayfavrate.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/rishabhfavrate.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/yuvrajpicks.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/venkateshpicks.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/techburner-favouirate.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/kumudfavrate.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/pranayfavrate.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/rishabhfavrate.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/yuvrajpicks.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/venkateshpicks.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
</div>
</div>

<br>
<a href="">
<div class="movement-box">
  <div id="wavesCarousel" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">

      <div class="carousel-item active" data-bs-interval="2000">
        <img src="{% static 'images/unleashbeast.png' %}" class="d-block w-100" height="465px">
      </div>

      <div class="carousel-item" data-bs-interval="2000">
        <img src="{% static 'images/builtforsummer.png' %}" class="d-block w-100" height="465px">
      </div>

    </div>

  </div>
</div>
</a>

<br>
<h2 class="new-launch">THE OVERLAYS FEED 🔥</h2>

<div class="overlaysfeed-box">
    <video src="{% static 'videos/metrovideo.mp4' %}" height="774.2px" width="464.525px" autoplay loop muted></video>
    <video src="{% static 'videos/bbcourtvideo.mp4' %}" height="774.2px" width="464.525px" autoplay loop muted></video>
    <video src="{% static 'videos/bulletdrivingvideo.mp4' %}" height="774.2px" width="464.525px" autoplay loop muted></video>
</div>

<h2 class="new-launch">COMMUNITY SQUAD OL 🚀</h2>

<div class="community-squad">
    <img src="{% static 'images/cs1.jpg' %}" class="csimg-box" alt="">
    <img src="{% static 'images/cs2.jpg' %}" class="csimg-box" alt="">
    <img src="{% static 'images/cs3.jpg' %}" class="csimg-box" alt="">
    <img src="{% static 'images/cs4.jpg' %}" class="csimg-box" alt="">
    <img src="{% static 'images/cs5.jpg' %}" class="csimg-box" alt="">
    <img src="{% static 'images/cs6.jpg' %}" class="csimg-box" alt="">
    <img src="{% static 'images/cs7.jpg' %}" class="csimg-box" alt="">
</div>

<div class="extraspace">  </div>
<br>
<div class="train-wrapper">
<div class="summer-escapeboxholder">
    <div class="summer-escapebox">
        <img src="{% static 'images/csg1.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/csg2.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/csg3.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/csg4.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/csg5.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/csg6.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/csg7.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/csg1.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/csg2.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/csg3.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/csg4.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/csg5.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/csg6.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/csg7.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
</div>
</div>

<br>
<div class="train-wrapper2">
<div class="summer-escapeboxholder2">
    <div class="summer-escapebox2">
        <img src="{% static 'images/csg1.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/csg2.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/csg3.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/csg4.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/csg5.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/csg6.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/csg7.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/csg1.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/csg2.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/csg3.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/csg4.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/csg5.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/csg6.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/csg7.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
</div>
</div>

{% endblock content %} 

<!-- Javascript link -->
{% block js %}
{{ block.super }}
<script src="#"></script>
{% endblock js %}
