{% extends "base.html" %} 

{% load static %} 

{% block css %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock css %}

{% block content %}
<!-- Round_cloth-box -->
<br>
<div class="maincloth-box">
    <div class="tshirt-box">
        <div class="round-image-box">
            <img src="{% static 'images/oversizedT-shirt.jpg' %}" class="round-photos" height="50px" width="50px" alt="">
            <span class="oversizedtshirt-content">Oversized T-shirt</span>
        </div>
        <div class="round-image-box">
            <img src="{% static 'images/sleeveless.jpg' %}" class="round-photos" height="50px" width="50px" alt="">
            <span class="oversizedtshirt-content">Sleeveless</span>
        </div>
        <div class="round-image-box">
            <img src="{% static 'images/relaxedT-shirts.jpg' %}" class="round-photos" height="50px" width="50px" alt="">
            <span class="oversizedtshirt-content">Relaxed T-shirts</span>
        </div>
    </div>
    <div class="pants-box">
        <div class="round-image-box">
            <img src="{% static 'images/joggers.jpg' %}" class="round-photos" height="50px" width="50px" alt="">
            <span class="oversizedtshirt-content">Joggers</span>
        </div>
        <div class="round-image-box">
            <img src="{% static 'images/jacket.jpg' %}" class="round-photos" height="50px" width="50px" alt="">
            <span class="oversizedtshirt-content">Jacket</span>
        </div>
        <div class="round-image-box">
            <img src="{% static 'images/hoodies.jpg' %}" class="round-photos" height="50px" width="50px" alt="">
            <span class="oversizedtshirt-content">Hoodies</span>
        </div>
    </div>
</div>

<div class="movement-box">
  <div id="wavesCarousel" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">

      <div class="carousel-item active" data-bs-interval="2000">
        <img src="{% static 'images/waves.png' %}" class="d-block w-100" height="465px">
      </div>

      <div class="carousel-item" data-bs-interval="2000">
        <img src="{% static 'images/rebellion.png' %}" class="d-block w-100" height="465px">
      </div>

    </div>

  </div>
</div>

<!-- User Visit Box -->
<div class="uservisit-box">
    <div class="user-visit">
        <img src="{% static 'images/customers.jpg' %}" height="32px" class="customers-photo" width="32px" alt="">
        <p class="customer-content">1,50,000+ <br> Satisfied Customers </p>
    </div>
    <div class="user-visit">
        <img src="{% static 'images/location.jpg' %}" height="32px" class="customers-photo" width="32px" alt="">
        <p class="customer-content">9,820+ <br> Pincodes Reached </p>
    </div>
    <div class="user-visit">
        <img src="{% static 'images/truck.jpg' %}" height="32px" class="customers-photo" width="32px" alt="">
        <p class="customer-content">Ships within <br> 12 Hours </p>
    </div>
</div> 

<br>
<br>
<div class="train-wrapper">
<div class="summer-escapeboxholder">
    <div class="summer-escapebox">
        <img src="{% static 'images/summer_escape.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/concert-ready.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/the-perfect-date.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/cafe_hopping.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/summer_escape.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/concert-ready.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/the-perfect-date.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
    <div class="summer-escapebox">
        <img src="{% static 'images/cafe_hopping.jpg' %}" width="250px" height="338.538px" alt="">
    </div>
</div>
</div>

<br>
<h2 class="new-launch">NEW LAUNCH 🚀</h2>

<br>
<div class="newlaunch-itemsbox">
    <div class="newlaunch-items">
        <img src="{% static 'images/greyblazzing-oversizetshirt.png' %}" width="376.300px" height="566.850px" alt="">
        <span class="greytshirt-title">Grey Blazing Hawk Oversized T-shirt</span>
        <div><span class="prizes"> <span class="price">₹ 1,599.00</span>&nbsp;<del class="cut-price">₹ 1,999.00</del> </span></div>
        <div class="product-variants">
            <a href="" class="variant-size"> <span class="sizes">XS</span> </a>
            <a href="" class="variant-size"> <span class="sizes">S</span> </a>
            <a href="" class="variant-size"> <span class="sizes">M</span> </a>
            <a href="" class="variant-size"> <span class="sizes">L</span> </a>
            <a href="" class="variant-size"> <span class="sizes">XL</span> </a>
            <a href="" class="variant-size"> <span class="sizes">XXL</span> </a>
        </div>
    </div>
    <div class="newlaunch-items">
        <img src="{% static 'images/greyblazzing-oversizetshirt.png' %}" width="376.300px" height="566.85px" alt="">
        <span class="greytshirt-title">Grey Blazing Hawk Oversized T-shirt</span>
        <div><span class="prizes"> <span class="price">₹ 1,599.00</span>&nbsp;<del class="cut-price">₹ 1,999.00</del> </span></div>
        <div class="product-variants">
            <a href="" class="variant-size"> <span class="sizes">XS</span> </a>
            <a href="" class="variant-size"> <span class="sizes">S</span> </a>
            <a href="" class="variant-size"> <span class="sizes">M</span> </a>
            <a href="" class="variant-size"> <span class="sizes">L</span> </a>
            <a href="" class="variant-size"> <span class="sizes">XL</span> </a>
            <a href="" class="variant-size"> <span class="sizes">XXL</span> </a>
        </div>
    </div>
    <div class="newlaunch-items">
        <img src="{% static 'images/greyblazzing-oversizetshirt.png' %}" width="376.300px" height="566.85px" alt="">
        <span class="greytshirt-title">Grey Blazing Hawk Oversized T-shirt</span>
        <div><span class="prizes"> <span class="price">₹ 1,599.00</span>&nbsp;<del class="cut-price">₹ 1,999.00</del> </span></div>
        <div class="product-variants">
            <a href="" class="variant-size"> <span class="sizes">XS</span> </a>
            <a href="" class="variant-size"> <span class="sizes">S</span> </a>
            <a href="" class="variant-size"> <span class="sizes">M</span> </a>
            <a href="" class="variant-size"> <span class="sizes">L</span> </a>
            <a href="" class="variant-size"> <span class="sizes">XL</span> </a>
            <a href="" class="variant-size"> <span class="sizes">XXL</span> </a>
        </div>
    </div>
    <div class="newlaunch-items">
        <img src="{% static 'images/greyblazzing-oversizetshirt.png' %}" width="376.300px" height="566.85px" alt="">
        <span class="greytshirt-title">Grey Blazing Hawk Oversized T-shirt</span>
        <div><span class="prizes"> <span class="price">₹ 1,599.00</span>&nbsp;<del class="cut-price">₹ 1,999.00</del> </span></div>
        <div class="product-variants">
            <a href="" class="variant-size"> <span class="sizes">XS</span> </a>
            <a href="" class="variant-size"> <span class="sizes">S</span> </a>
            <a href="" class="variant-size"> <span class="sizes">M</span> </a>
            <a href="" class="variant-size"> <span class="sizes">L</span> </a>
            <a href="" class="variant-size"> <span class="sizes">XL</span> </a>
            <a href="" class="variant-size"> <span class="sizes">XXL</span> </a>
        </div>
    </div>
</div>

<br>
<div class="newlaunch-itemsbox2">
    <div class="newlaunch-items">
        <img src="{% static 'images/greyblazzing-oversizetshirt.png' %}" width="376.300px" height="566.850px" alt="">
        <span class="greytshirt-title">Grey Blazing Hawk Oversized T-shirt</span>
        <div><span class="prizes"> <span class="price">₹ 1,599.00</span>&nbsp;<del class="cut-price">₹ 1,999.00</del> </span></div>
        <div class="product-variants">
            <a href="" class="variant-size"> <span class="sizes">XS</span> </a>
            <a href="" class="variant-size"> <span class="sizes">S</span> </a>
            <a href="" class="variant-size"> <span class="sizes">M</span> </a>
            <a href="" class="variant-size"> <span class="sizes">L</span> </a>
            <a href="" class="variant-size"> <span class="sizes">XL</span> </a>
            <a href="" class="variant-size"> <span class="sizes">XXL</span> </a>
        </div>
    </div>
    <div class="newlaunch-items">
        <img src="{% static 'images/greyblazzing-oversizetshirt.png' %}" width="376.300px" height="566.850px" alt="">
        <span class="greytshirt-title">Grey Blazing Hawk Oversized T-shirt</span>
        <div><span class="prizes"> <span class="price">₹ 1,599.00</span>&nbsp;<del class="cut-price">₹ 1,999.00</del> </span></div>
        <div class="product-variants">
            <a href="" class="variant-size"> <span class="sizes">XS</span> </a>
            <a href="" class="variant-size"> <span class="sizes">S</span> </a>
            <a href="" class="variant-size"> <span class="sizes">M</span> </a>
            <a href="" class="variant-size"> <span class="sizes">L</span> </a>
            <a href="" class="variant-size"> <span class="sizes">XL</span> </a>
            <a href="" class="variant-size"> <span class="sizes">XXL</span> </a>
        </div>
    </div>
</div>


{% endblock content %} 

<!-- Javascript link -->
{% block js %}
{{ block.super }}
<script src="#"></script>
{% endblock js %}
