{% extends "base.html" %} 

{% load static %} 

{% block title %}
<title>Otc</title>
{% endblock title %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/otc.css' %}">
{% endblock css %}

{% block content %}

<div class="main-box">

    <div class="empty-gap"></div>
    <div class="image-box">
        <div class="empty-gap"></div>
        <ul class="image-list">
            <li><div class="list-image"><img src="{% static 'images/tcot3.jpg' %}" width="465.200px" height="649.600px" class="image" alt=""></div></li>
            <li><div class="list-image"><img src="{% static 'images/tcot3.jpg' %}" width="465.200px" height="649.600px" class="image" alt=""></div></li>
            <li><div class="list-image"><img src="{% static 'images/tcot3.jpg' %}" width="465.200px" height="649.600px" class="image" alt=""></div></li>
            <li><div class="list-image"><img src="{% static 'images/tcot3.jpg' %}" width="465.200px" height="649.600px" class="image" alt=""></div></li>
        </ul>
    </div>

    
    <div class="clothes-infobox">
        <div class="itemname-container">
            <div><strong class="dress-name">THE CREATOR 0VERSIZED T-SHIRT</strong></div>
            <div>
                <div class="price-container"><strong class="dress-name">₹ 1,599.00</strong></div>
                <div class="price-container"><del class="dressold-price">₹ 1,999.00</del></div>
                <div><span class="all-taxes">Inclusive of all taxes</span></div>
            </div>
        </div>

        <span><img src="{% static 'images/star.png' %}" alt=""></span>&nbsp;<span class="rating">5.0</span>

        <br>
        <div class="size-container">
            <div class="size-name">Size</div>
            <div><a class="size-chart" href="">Size chart</a></div>
        </div>

        <div class="empty-gap"></div>
        <div class="sizebutton-box">
            <form action="" method="post"><button type="submit" class="size-button">XS</button></form>
            <form action="" method="post"><button type="submit" class="size-button">XS</button></form>
            <form action="" method="post"><button type="submit" class="size-button">XS</button></form>
            <form action="" method="post"><button type="submit" class="size-button">XS</button></form>
            <form action="" method="post"><button type="submit" class="size-button">XS</button></form>
            <form action="" method="post"><button type="submit" class="size-button">XS</button></form>
        </div>

        <div class="empty-gap"></div>
        <form action="" method="post">
            <button class="selecting-size" type="submit">SELECT A SIZE</button>
        </form>

        <div class="empty-gap"></div>
        <div class="return-line"><button class="tick-button">✔</button>&nbsp;<span>7 Days easy exchange & return</span>&nbsp;<div>i</div></div>
        
        

        
        
    </div>


</div>



{% endblock content %} 


