{% extends "base.html" %}

{% load static %}

{% block title %}
<title>Shop by Category</title>
{% endblock title %} 

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/shopbycategory.css' %}">
{% endblock css %}

{% block content %}

<div class="filter-bar">

    <div class="left-filterbox">

        <div class="filter-btn"> 
            <span class="price">Price</span> <i class="fa-solid fa-angle-up fa-2xs" id="arrow" style="color: rgb(138, 142, 150);"></i>
        </div>
        
        <div class="dropdown">
            <div class="dropdown-box">
                 <label for="" class="price-rupee">₹</label><input type="search" name="" class="" placeholder="0" id="">
                 <span class="to">to</span><label for="" class="price-rupee2">₹</label>
                 <input type="search" placeholder="2,499.00" name="" class="" id=""> 
            </div>
            <div class="dropdownbox2"> 
                <span class="high-price">The highest price is ₹ 2,499.00</span> 
            </div>
        </div>

        <div class="filter-btn">
            <span class="price">Product type</span> <i class="fa-solid fa-angle-up fa-2xs" id="arrow" style="color: rgb(138, 142, 150);"></i>
        </div>

        <div class="dropdown">
            <div class="dropdown-box">
                <div class="producttype-checkboxholder">
                    <div class="producttype-checkbox">

                        <div class="hoodie-checkboxholder">
                            <input type="checkbox" class="ptype" name="" value="" id="">
                            {% comment %} {% if hoodies %} checked {% endif %} {% endcomment %}
                                <span class="hoodies">
                                    Hoodies
                                {% comment %} <a href="{% url 'hoodies' %}" class="hoodie-link"></a> {% endcomment %}
                                </span>
                        </div>

                        <div class="hoodie-checkboxholder">
                            <input type="checkbox" class="ptype" name="" id="">
                            {% comment %} {% if jackets %} checked {% endif %} {% endcomment %}
                                <span class="hoodies">
                                    Jackets
                                {% comment %} <a href="{% url 'jackets' %}" class="hoodie-link"></a> {% endcomment %}
                                </span>
                        </div>

                        <div class="hoodie-checkboxholder">
                            <input type="checkbox" class="ptype" name="" id="">
                            {% comment %} {% if joggers %} checked {% endif %} {% endcomment %}
                                <span class="hoodies">
                                    Joggers
                                {% comment %} <a href="{% url 'joggers' %}"class="hoodie-link"></a> {% endcomment %}
                                </span>
                        </div>

                        <div class="hoodie-checkboxholder">
                            <input type="checkbox" class="ptype" name="" id="">
                            {% comment %} {% if tshirt %} checked {% endif %} {% endcomment %}
                                <span class="hoodies">
                                    T-shirt
                                {% comment %} <a href="{% url 'tshirt' %}"class="hoodie-link"></a> {% endcomment %}
                                </span>
                        </div>

                    </div> 
                    <a href="" class="clear">Clear</a> 
                </div>
            </div>
        </div>


        <div class="filter-btn">
            <span class="price">Size</span> <i id="arrow" class="fa-solid fa-angle-up fa-2xs"
                style="color: rgb(138, 142, 150);"></i>
        </div>

        <div class="dropdown">
            <div class="dropdown-box">
                <div class="outer-sizebox">
                    <div class="inner-sizebox">
                        <form action="" method="post">
                            {% csrf_token %}
                            <button class="size-button" type="button">XS</button>
                        </form>
                        <form action="" method="post">
                            {% csrf_token %}
                            <button class="size-button" type="button">S</button>
                        </form>
                        <form action="" method="post">
                            {% csrf_token %}
                            <button class="size-button" type="button">M</button>
                        </form>
                        <form action="" method="post">
                            {% csrf_token %}
                            <button class="size-button" type="button">L</button>
                        </form>
                        <form action="" method="post">
                            {% csrf_token %}
                            <button class="size-button" type="button">XL</button>
                        </form>
                    </div>
                    <!-- <br> -->
                    <div class="inner-sizebox">
                        <form action="" method="post">
                            {% csrf_token %}
                            <button class="size-button" type="button">XXL</button>
                        </form>
                        <form action="" method="post">
                            {% csrf_token %}
                            <button class="size-button" type="button">28</button>
                        </form>
                        <form action="" method="post">
                            {% csrf_token %}
                            <button class="size-button" type="button">30</button>
                        </form>
                        <form action="" method="post">
                            {% csrf_token %}
                            <button class="size-button" type="button">32</button>
                        </form>
                        <form action="" method="post">
                            {% csrf_token %}
                            <button class="size-button" type="button">34</button>
                        </form>
                    </div>
                    <!-- <br> -->
                    <div class="inner-sizebox3">
                        <form action="" method="post">
                            {% csrf_token %}
                            <button class="size-button" type="button">36</button>
                        </form>
                        <form action="" method="post">
                            {% csrf_token %}
                            <button class="size-button" type="button">38</button>
                        </form>
                    </div>
                    <a href="" class="size-clear">Clear</a>
                </div>
            </div>
        </div>

    </div>

    <div class="right-filterbox">

            <div class="fiftysix-items">56 items</div>

            <div>
                <select name="" class="sorting" id="">
                    <option value="" class="fiftysix-items" selected disabled>Sort</option>
                    <option value="" class="fiftysix-items">featured</option>
                    <option value="" class="fiftysix-items">Best Selling</option>
                    <option value="" class="fiftysix-items">Alphabatically, A-Z</option>
                    <option value="" class="fiftysix-items">Alphabatically, Z-A</option>
                    <option value="" class="fiftysix-items">Price,low to high</option>
                    <option value="" class="fiftysix-items">Price,high to low</option>
                </select>    
            </div>

            <img src="{% static 'images/rommy-layout.png' %}" height="20px" width="20px" alt="">

            <img src="{% static 'images/compact-layout.png' %}" height="10px" width="10px" alt="">

    </div>
</div>
{% endblock content %} 

<!-- Javascript link -->
  {% block js %} 
  {{ block.super }}
<script src="{% static 'js/shopbycategory.js' %}"></script>
 {% endblock js %}