{% load static %} 

{% block css %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock css %} 

{% block content %}

<div class="main-box">
    <div class="signup-box">
        <p class="overlays-title">Overlays</p>
        <h1 class="signup-title">Sign in</h1>
        <div>
            <p class="signup-line">Sign in or create an account</p>
        </div>
        <form action="#" method="post" enctype="multipart/form-data" class="form-box">

    <input type="text" class="name-box" name="name" placeholder="Enter Name" required><br><br>

    <input type="email" class="name-box" name="email" placeholder="Enter Email" required><br><br>

    <input type="tel" class="name-box" name="contact" placeholder="Enter Contact Number" required><br><br>

    <textarea class="address-box" name="address" placeholder="Enter Address" required></textarea><br><br>

    <input  type="file" class="image-file" name="photo" required><br><br>

    <input class="name-box" type="password" name="password" minlength="8" maxlength="15" placeholder="Enter Password" required><br><br>

    <input class="name-box" type="password" name="confirm_password" minlength="8" maxlength="15" placeholder="Confirm Password" required><br><br>

    <input type="submit" class="register-button" value="Register">

</form>

    <div class="signup-loginbox">
        <p>Already a user? <a href="{% url 'login' %}">Login</a> </p>
    </div>

    </div>
</div>


{% endblock content %} 
