.navbar-container{
    border: 1px solid black;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    display: flex;
    list-style: none;
    gap: 30.5px;
    margin-left: -79%;
}

.list{
    text-decoration: none;
    font-family: Assistant,sans-serif;
    color: rgba(0, 0, 0, 0.7);
    height: 30.075px;
    width: 136px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    text-underline-offset: 2.25px;
    line-height: 30.0857px;
    /* text-wrap-mode: nowrap; */
}

.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: -5%;   yahi gap de raha hai */
}

.logo{
    width: 75px;
    height: 110px;
    object-fit: contain;
    margin-top: -6.5%;
    cursor: pointer;
}

.icon-box{
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 1.5%;
    margin-top: -4.3%;
    margin-right: 24px;
}

.icon{
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.hover-box{
    display: block;
    border: 1px solid black;
    margin-top: 29px;
    height: 454.663px;
    width: 99.9%;
}

.cloth-box{
    border: 1px solid black;
    margin-top: 6px;
    height: 415.553px;
    width: 67%;
}

.cloth-box-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    /* margin-left: -20px; */
}

.tshirtbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.cloth-title{
    color: rgb(203, 70, 37);
    font-family: Assistant,sans-serif;
    font-size: 15px;
    font-weight: 800;
    /* height: 25.0625px;
    width: 54.4px; */
    font-style: normal;
    text-decoration: none;
}

.tshirt-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
    margin-left: -95px;
}

.tshirtcategory{
    font-family: Assistant,sans-serif;
    color: rgba(0, 0, 0, 0.81);
    font-style: normal;
    font-size: 16px;
    font-weight: 50;
    text-decoration: none;
    text-transform: none;
    text-underline-offset: 2px;
    list-style-image: none;
    list-style-position: outside;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    /* text-wrap-mode: wrap; */
}

.tshirtcategory :hover{
    color: rgba(0, 0, 0, 0.7);
}

.shirt-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 8px;
    margin-top: -74px;
    margin-left: -18px;
}

.bottomwear-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 8px;
    margin-top: -76px;
    margin-left: -18px;
}

.winterwear-list #winterwear-cloth-title{
    color: rgb(203, 70, 37);
    font-family: Assistant,sans-serif;
    font-size: 15px;
    font-weight: 800;
    /* height: 25.0625px;
    width: 54.4px; */
    font-style: normal;
    text-decoration: none;
    margin-top: 30px;
}

.winterwear-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 8px;
    margin-top: 8px;
}

.other-list{
    /* color: rgb(203, 70, 37); */
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 9px;
}

.other-list li{
    font-family: Assistant,sans-serif;
    font-size: 15px;
    font-weight: 800;
    /* height: 25.0625px;
    width: 54.4px; */
    font-style: normal;
    text-decoration: none;
    list-style: none;
}

.other-list-items{
    color: rgb(203, 70, 37);
    text-decoration: none;
}


/* .cloth-list li{
    text-decoration: none;
    text-transform: none;
} */
