/* .main-container{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.navbar-container{
    border: 1px solid black;
    height: 82.4px;
    width: 100%;
    /* text-align: center;
    align-content: center; */
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    gap: 1.3%;
    color: black;
    /* display: block; */
    font-family: sans-serif;
    cursor: pointer;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    margin-left: -61.5%;
    margin-top: 2%;
}

.navbar .list{
    color: black;
    opacity: 0.7;
    text-decoration: none;
    text-transform: none;
    height: 30.075px;
    width: 68.800px;
}

.nav-logo{
    align-items: center;
    margin-left: 48%;
    margin-top: -7%;
    height: 25px;
    width: 25px;
}