.navbar-container{
    border: 1px solid black;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-logo{
    display: flex;
    justify-content: center;
    margin-top: 20px;   /* yahi gap de raha hai */
}

.logo{
    width: 60px;
    height: 60px;
    object-fit: contain;
}
