.title{
    color: rgba(0, 0, 0, 0.81);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    font-family: Assistant,sans-serif;
    text-transform: uppercase;
    margin-left: 420px;
}



.content-block{
    border: 1px solid none;
    width: 675px;
    height: 150px;
    margin-left: 420px;
}


.content1{
    color: rgba(0, 0, 0, 0.81);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    font-family: Assistant,sans-serif;
}