.maincloth-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26.5px;
}

.tshirt-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.round-image-box{
    border: 1px solid none;
    height: 91.6px;
    width: 101.6px;
}

.round-photos{
    box-sizing: border-box;
    height: 62px;
    width: 62px;
    border-radius: 50%;
    margin-left: 19.8px;
    margin-right: 19.8px;
    object-fit: cover;
    aspect-ratio: auto 50/50;
    line-height: 16.8px;
    max-width: 100%;
    overflow-clip-margin: content-box;
    overflow-x: clip;
    overflow-y: clip;
    text-transform: none;
    text-underline-offset: 1.5px;
    text-align: center;
}

.oversizedtshirt-content{
    box-sizing: border-box;
    line-height: 19.6px;
    font-family: Assistant,sans-serif;
    color: rgb(54, 54, 54);
    cursor: pointer;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    height: 29.6px;
    width: 101.6px;
    text-align: center;
    padding-top: 8px;
    display: block;
    text-underline-offset: 1.5px;
}

.pants-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.movement-box{
    border: 1px solid black;
    height: 465px;
    width: 100%;
    margin-top: 10px;
}

.uservisit-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-visit{
    border: 1px solid none;
    height: 69.6px;
    width: 280px;
    margin-top: 27px;
}

.customers-photo{
    margin-left: 124px;
}

.customer-content{
    font-size: 12px;
    font-family: Assistant,sans-serif;
    color: rgba(0, 0, 0, 0.81);
    font-style: normal;
    font-weight: 400;
    text-align: center;
}
