.main-box{
    background-color: lightgrey;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box{
    border: 0.800px solid blue;
    height: 400.400px;
    width: 500px;
    border-radius: 12px;
    background-color: white;
}

input[type="email"]{
    font-family: Assistant,sans-serif;
    font-size: 14px;
    font-weight: 400;
}

input[type="password"]{
    font-family: Assistant,sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.overlays-title{
    font-size: 21px;
    font-weight: 550;
    font-family: Assistant,sans-serif;
    text-align: center;
}

.signup-title{
    font-size: 21px;
    font-weight: 550;
    font-family: Assistant,sans-serif;
    margin-left: 38px;
}

.form-box{
    margin-left: 38px;
}

.name-box{
    border: 1px solid blue;
    height: 40px;
    width: 370px;
    border-radius: 8px;
}

.register-button{
    border: 0.5px solid blue;
    height: 40px;
    width: 370px;
    border-radius: 8px;
    background-color: blue;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

input:focus {
    border: 1px solid blue;
    outline: none;
}

.signup-loginbox{
    text-align: center;
    font-family: Assistant,sans-serif;
    font-size: 13px;
}