<div>
    <div>
        <button type="submit"><a href="{% url 'all' %}">All()</a></button><br><br>
        <button type="submit"><a href="{% url 'filter' %}">Filter()</a></button><br><br>
        <button type="submit"><a href="{% url 'order_by' %}">Order_by()</a></button><br><br>
        <button type="submit"><a href="{% url 'Multi_filter' %}">Multi_filter()</a></button><br><br>
        <button type="submit"><a href="{% url 'exclude' %}">Exclude()</a></button><br>
    </div>
    
    <div>
        {% if data %}
            <table border="1">
                <thead>
                    <th>S.no.</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>City</th>
                </thead>
                {% for i in data %}
                    <tbody>
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{i.Name}}</td>
                            <td>{{i.Email}}</td>
                            <td>{{i.Age}}</td>
                            <td>{{i.City}}</td>
                        </tr>
                    </tbody>
                {% endfor %} 
            </table>

        {% elif data1 %}
        <table border="1">
                <thead>
                    <th>S.no.</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>City</th>
                </thead>
                {% for i in data1 %}
                    <tbody>
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{i.Name}}</td>
                            <td>{{i.Email}}</td>
                            <td>{{i.Age}}</td>
                            <td>{{i.City}}</td>
                        </tr>
                    </tbody>
                {% endfor %} 
            </table> 
        
        {% elif data2 %}
        <table border="1">
                <thead>
                    <th>S.no.</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>City</th>
                </thead>
                {% for i in data2 %}
                    <tbody>
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{i.Name}}</td>
                            <td>{{i.Email}}</td>
                            <td>{{i.Age}}</td>
                            <td>{{i.City}}</td>
                        </tr>
                    </tbody>
                {% endfor %} 
            </table>  
            
        {% elif data3 %}
        <table border="1">
                <thead>
                    <th>S.no.</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>City</th>
                </thead>
                {% for i in data3 %}
                    <tbody>
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{i.Name}}</td>
                            <td>{{i.Email}}</td>
                            <td>{{i.Age}}</td>
                            <td>{{i.City}}</td>
                        </tr>
                    </tbody>
                {% endfor %} 
            </table>

        {% elif data4 %}
        <table border="1">
                <thead>
                    <th>S.no.</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>City</th>
                </thead>
                {% for i in data4 %}
                    <tbody>
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{i.Name}}</td>
                            <td>{{i.Email}}</td>
                            <td>{{i.Age}}</td>
                            <td>{{i.City}}</td>
                        </tr>
                    </tbody>
                {% endfor %} 
            </table>    
        {% endif %}
    </div>
</div>
